.playbar {
    padding: 0.8em 1em;
    
    height: 12vh;
    width: 100%;
    color: white;
    box-sizing: border-box;
    /* background: linear-gradient(#111111, #101010); */
   
    background:black;
    display: flex;
    justify-content: center;
    gap: 1em;
    align-items: center;
    overflow: hidden;
    position: absolute;
    bottom: 0px;
    z-index: 2;
}
.playbarfull{
    background-image: linear-gradient(aqua,pink);
    align-content: end;
}

.middleplay {
    display: flex;
    padding: 0.5em;
    flex-direction: column;
    width: 50%;
    height: 12vh;
    box-sizing: border-box;
    justify-content: space-evenly;
    align-items: center;
    object-fit: contain;
    position: relative;
}
.leftplayfull{
    align-items: end;
    padding-bottom: 1em;
    align-self: first baseline;
    background-color: aliceblue;
}
/* .rightplayfull{
}
.middleplayfull{

} */

.topplay {
    width: 100%;
    height: 80%;
    /* color: white; */
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    gap: 1em;
    align-items: center;
    /* background-color: #1fdf64; */
}

.topplay .playme {
    background-color: white;
    margin: auto 0.2em;
    padding: 0.3em;
    border-radius: 15em;
    transition: all 0.1s linear;
}

.topplay .playme:hover {
    margin: 0;
    padding: 0.5em;
}

.topplay .pause {
    background-color: white;
    margin: auto 0.2em;
    padding: 0.3em;
    border-radius: 15em;
    transition: all 0.1s linear;
}

.topplay .pause:hover {
    margin: 0;
    padding: 0.5em;
}

.green {
    filter: invert(80%) sepia(51%) saturate(758%) hue-rotate(74deg) brightness(90%) contrast(93%);
}

.playme,
.pause,
.next,
.previous,
.shuffle,
.repeat {
    cursor: pointer;
}

.wholebottom {
    display: flex;
    width: 100%;
    gap: 0.2em;
    align-items: center;
    align-content: center;
    
}

.current,
.duration {
    display: flex;
    width: 10%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: rgb(200, 197, 197);
    font-family: "Bubblegum Sans", sans-serif;
    font-weight: 200;
    font-size: small;
    font-style: normal;
    /* background-color: aqua; */
    /* text-align: center; */
    /* align-self: center; */
}

.bottomplay {
    box-sizing: border-box;
    border-radius: 5em;
    width: 75%;
    height: 0.4em;
    background-color: rgb(86, 81, 81);
    cursor: pointer;
}

.seekbar {
    height: 100%;
    width: 0;
    background-color: white;
    border-radius: 7em;
    /* transition: all 0.01s linear; */
    position: relative;
    display: flex;
    justify-content: end;
    align-items: center;
    overflow: visible;
    /* cursor: pointer; */
}

.seekbar .circle {
    /* position: absolute;
        right: 0px; */
    height: 1em;
    width: 1em;
    background-color: white;
    border-radius: 6em;
    position: absolute;
    right: -0.1em;
    visibility: hidden;
}

.bottomplay:hover .seekbar {

    background-color: #1fdf64;

}

.bottomplay:hover .circle {
    visibility: visible;
}

.leftplay {
    display: flex;
    /* justify-content: space-between; */
    gap: 0.5em;
    align-items: center;
    height: 100%;
    width: 25%;
    /* background-color: blanchedalmond; */
    box-sizing: border-box;
    padding-right: 1em;
    /* position: relative; */

}

.album {
    height: 60px;
    width: 60px;
    background-color: black;
    /* background-image: url("https://i.scdn.co/image/ab67706f00000002518096c62a9e453db38093db"); */
    background-size: cover;
    border-radius: 0.2em;
    border: 0px;
}
.album img{
    height: 100%;
    width: 100%;
    object-fit: fill;
    object-position: center;
}

.leftplay .text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow: hidden;

}

.leftplay .p {
    height: 20%;
    /* width: 75%; */
    /* background-color: #b90c99; */
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    /* animation: move 2s linear  infinite alternate ; */
    font-size: medium;
    /* font-style: italic; */
    font-family: "Bubblegum Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.rightplay {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 0.7em;
    align-items: center;

}

.volume {
    box-sizing: border-box;
    border-radius: 5em;
    width: 50%;
    height: 0.4em;
    background-color: rgb(86, 81, 81);
    cursor: pointer;

}

.volumebar {
    height: 100%;
    width: 100%;
    background-color: white;
    border-radius: 7em;
    /* transition: all 0.1s linear; */
    position: relative;
    display: flex;
    justify-content: end;
    align-items: center;
    overflow: visible;
}

.volumebar .circle {
    height: 0.8em;
    width: 0.8em;
    background-color: white;
    border-radius: 6em;
    position: absolute;
    right: -0.3em;
    visibility: hidden;
}

.volume:hover .volumebar {

    background-color: #1fdf64;

}

.volume:hover .circle {
    visibility: visible;
}
.fulllogo{
    position: absolute;
    align-self: center;
    display: none;
    
}
/* Fullscreen styles */
@keyframes resize{
    from{
        height: 300px;
        width: 300px;
    }
    to{
        height: 100px;
        width: 100px;
    }
}