@media screen and (max-width:1000px){
    .left{
    position: absolute;
    z-index: 3;
    left: 0;
    top: 0;
    width: 80%;
    opacity: 0;
    transform: translateX(-590px);
    transition:all 0.5s ease-in; 
    }
    .arrow {
        display: none;
    }
    .wholebottom,.next,.previous,.repeat,.shuffle,.mut,.fullscreen{
        display: none;
    }
    .middleplay{
        width: 10%;
    }
    .leftplay{
        width: 70%;
    }
    .rightplay{
        width: 10%;
        /* padding-left: 5px; */
        /* gap: 10px; */
    }
    .fullscreen{
        margin-left: 5px;
    }

    .volume{
        display: none;
    }
    .album{
        height: 50px;
        width: 50px;
    }
    .top{
        height: 30vh;
    }
    .bottom{
        width: 100%;
        height: 67vh;
    }
    .right{
        width: 100%;
    }
    .allplaylist{
        /* flex-direction: column; */
        overflow-x: scroll;
    }
    .card{
        border-radius: 0.5em;
        height: 50vh;
        width: 100%;
        margin-bottom: 0.4em;
        /* background-color: rgb(225, 148, 17); */
        padding: 0.5em;
        box-sizing: border-box;
        }
        .play_button{
            transform: translateY(0vh);
            transition: all 0.2s linear;
            /* visibility:hidden; */
            opacity:1;
            }
    .menu{
        position: relative;
        opacity: 1;
    }
    .cross{
        display: flex;
    }
}
@media screen and (max-height:580px){
    .left{
        position: absolute;
        z-index: 3;
        left: 0;
        top: 0;
        width: 80%;
        opacity: 0;
        transform: translateX(-590px);
        /* transition:all 0.5s ease-in;  */
        }
    
    .card{
        border-radius: 0.5em;
        height: 50vh;
        width: 30%;
        margin-bottom: 0.4em;
        /* background-color: rgb(225, 148, 17); */
        padding: 0.5em;
        box-sizing: border-box;
        }
        .playbar{
            height: 4em;
        }
        .wholebottom,.next,.previous,.repeat,.shuffle,.mut,.volume{
            display: flex;
        }
        .middleplay{
            width: 50%;
        }
        .leftplay{
            width: 20%;
        }
        .rightplay{
            width: 20%;
            /* padding-left: 5px; */
            /* gap: 10px; */
        }
        .playbar .p,marquee{
            font-size: small;
        }
}
@media screen and (min-width:1100px){
    .left {
        height: 100vh;
        width: 23vw;
        padding: auto 0.5em;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        /* align-items: center; */
        background-color: black;
        box-sizing: border-box;
        transform: translateX(0);
        opacity: 1;
        position: relative;
        /* z-index: -1; */
    }
    
}