body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.color_white{
    color: white;
}

.container {
    background-color: black;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;

}

.right {
    /* padding: 1em; */
    height: 100vh;
    width: 75vw;
    box-sizing: border-box;
    border-radius: 1em;
    background-color: #1d1d1d;
    /* overflow-y: scroll; */
    position: relative;
}

div header {
    padding: 0.8em 2em;
    height: max-content;
    width: 100%;
    color: white;
    box-sizing: border-box;
    background: linear-gradient(#111111, #101010);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:absolute;
    z-index: 2;
}

.arrow {
    background-color: black;
    padding: 0.5rem;
    border-radius: 5rem;
}
.menu{
    padding: 0.5rem;
    margin-right: 0.5em;
    position: absolute;
    opacity: 0;
    /* visibility: hidden; */
    /* border-radius: 5rem; */
}

button {
    /* margin: auto; */
    padding: 0.8em 1.5em;
    font-size: 1.5rem;
    box-sizing: border-box;
    border-radius: 8em;
    border: 0;
}


.text-black {
    --tw-text-opacity: 1;
    font-size: 1em;
    color: black;
    font-weight: 800;
}

.text-grey {
    font-size: 1em;
    --tw-text-opacity: 1;
    color: #a7a7a7;
    font-family: "Kanit", sans-serif;
    font-weight: 600;
}

.bgblack {
    background-color: black;
}

.bgwhite {
    background-color: white;
}
.hover\:bg-black-800:hover {
    --tw-bg-opacity: 1;
    
    background-color: black;
    color: white;
    transform: scale(1.1);
}
.hover\:bg-white-800:hover {
    --tw-bg-opacity: 1;
    
    background-color: rgb(124, 124, 124);
    color: white;
    transform: scale(1.1);
}

log {
    display: inline-block;
}
